@import 'https://unpkg.com/open-props';
@import 'https://unpkg.com/open-props/normalize.min.css';

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

main:hover {
  cursor: default;
}

.container {
  width: 50rem;
  margin: 0 auto;
  /* background-color: wheat; */
  background-color: #ffffff;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-top: 2rem;
}

.restaurant-title {
  font-size: 3.5rem;
  font-weight: 500;
  color: #23292f;
}

.restaurant-slogan {
  font-size: 1.6rem;
  color: rgba(35, 41, 47, 0.7);
}

.most-popular-title {
  display: inline-block;
  font-size: 2rem;
  color: #23292f;
  margin-top: 1rem;
}

.most-popular-header {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.most-popular-scroll-btn {
  /* filter: drop-shadow(2px 4px 6px #212121); */
  cursor: pointer;
  /* box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5); */
}

.media-scroller {
  width: 100%;
  height: 45%;
  margin-top: 2rem;
  display: grid;
  gap: 1.5rem;
  grid-auto-flow: column;
  grid-auto-columns: 60%;
  grid-auto-rows: 100%;

  overflow-x: auto;
  overscroll-behavior-inline: contain;
  cursor: pointer;
}

.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.media-element {
  border-radius: 2rem;
  position: relative;
}

.media-element > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 2rem;
}

.popular-item-title {
  position: absolute;
  bottom: 3%;
  left: 8%;
  color: #ffffff;
  font-weight: 500;
  word-wrap: normal;
  width: 16.5rem;
  font-size: 2.2rem;
}
.popular-item-tag {
  background-color: #ffffff;
  color: #23292f;
  border-radius: 0.7rem;
  font-weight: 500;
  font-size: 1.2rem;
  display: inline;
  padding: 0.3rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.overlay-2 {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  border-radius: 0.7rem;
  position: absolute;
  top: 0%;
  left: 0%;
  filter: blur(33px);
  /* position: absolute; */
}
.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline > * {
  scroll-snap-align: start;
}

.menu {
  font-size: 2rem;
  color: #212121;
  font-weight: 500;
  margin-top: 2rem;
}
.menu-grid {
  /* margin-top: 1rem; */
  display: grid;
  grid-auto-rows: 20rem;
  gap: 3rem;
  cursor: pointer;
}

.menu-items {
  position: relative;
}

.menu-items > img {
  /* inline-size: 100%; */
  /* aspect-ratio: 16 / 9; */
  /* object-fit: cover; */
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem;
}

.menu-item-title {
  position: absolute;
  bottom: 5%;
  left: 5%;
  color: #ffffff;
  font-weight: 500;
  word-wrap: normal;
  width: 16.5rem;
  font-size: 2.2rem;
}

.overlay {
  background-color: #23292f;
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  position: absolute;
  top: 0%;
  filter: opacity(0.23);
  /* position: absolute; */
}

footer {
  text-align: center;
  padding: 4rem 0;
  font-size: 1.6rem;
}

footer .powered-by {
  font-weight: bold;
}

footer .company-name {
  color: #f50a7c;
}

.tinder-slider {
  margin-top: 2.5rem;
  width: 100%;
  height: 55vh;
  /* background-color: pink; */
  position: relative;
  border-radius: 2rem;
}

.tinder-images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.95);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;

  object-fit: cover;
  border-radius: 5px;
  filter: drop-shadow(2px 4px 6px black);
}

.top-image-0 {
  top: 47.5%;
  /* transform: translate(-50%, -52%) rotate(0deg) scale(0.95); */
}

.top-image-1 {
  top: 52.5%;
  /* transform: translate(-50%, -52%) rotate(0deg) scale(0.95); */
}
/* .tinder-overlay {
background-color: #23292f;
height: 100%;
width: 100%;
border-radius: 2rem;
position: absolute;
top: 0%;
filter: opacity(0.23);
} */

/* @media (max-width: 500px) {
  html {
    font-size: 50.5%;
  }
} */

@media (max-width: 400px) {
  html {
    font-size: 46.5%;
  }
}
